body, html {
    height: 100%;
    margin: 0;
}

/* Center content vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the player image and input field */
.player-gen {
    text-align: center;
}

.player-gen-picture {
    max-width: 100%;
    margin-bottom: 20px;
}

#guess-input {
    padding: 10px;
    margin-bottom: 10px;
}

/* Style the submit button */
#submit-guess {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#submit-guess:hover {
    background-color: #0056b3;
}
